#capturefor(pageTitle)年级管理#end

#capturefor(includeCode)
<script type="text/javascript">
    function PostEdit() {
        $("#btnEdit").attr("disabled", "disabled").val("处理中,请稍候...");

        var key = ["gradeID", "sn", "name"];
        var info = {};
        jQuery.each(key, function (k, v) {
            info[v] = $("#" + v).val();
        });

        jQuery.post("PostEdit.do", info, function (r) {
            alert(r.message);
            $("#btnEdit").removeAttr("disabled").val("修改年级");
            if (r.code > 0) {
                location.replace("List.do");
            }
        }, "json");
    }
</script>
#end

<ol class="breadcrumb">
    <li><a href="List.do">年级管理</a></li>
    <li class="active">修改信息</li>
</ol>

<div class="form-container">
    <form class="form-horizontal" role="form" method="post" target="_self" id="editForm" name="editForm" action="PostEdit.do">
        <input type="hidden" name="gradeID" id="gradeID" value="$!{grade.ID}" />
        <div class="input-group">
            <span class="input-group-addon">年级编号：</span>
            <input type="text" class="form-control" name="sn" id="sn" value="$!{grade.SN}">
        </div>
        <div class="input-group">
            <span class="input-group-addon">年级名称：</span>
            <input type="text" class="form-control" name="name" id="name" value="$!{grade.Name}">
            <span class="input-group-btn">
                <button class="btn btn-success" name="btnEdit" id="btnEdit" type="button" value="修改年级" onclick="PostEdit();">修改年级</button>
            </span>
        </div>
    </form>
</div>
