#capturefor(pageTitle)教室资源管理#end

#capturefor(includeCode)

<script type="text/javascript">
function PostEdit(){
  $("#btnEdit").attr("disabled","disabled").val("处理中,请稍候...");
  
  var key = ["schoolRoomID","name","campusID"];
  var info = {};
  jQuery.each(key,function(k,v){
    info[v]=$("#" + v).val();
  });
      
  jQuery.post("PostEdit.do",info,function(r){
    alert(r.message);
    $("#btnEdit").removeAttr("disabled").val("修改教室");
    if(r.code > 0){
      location.replace("List.do");
    }
  },"json");
}
</script>
#end

<ol class="breadcrumb">
    <li><a href="List.do">教室配置</a></li>
    <li class="active">修改资料</li>
</ol>

<div class="form-container">
    <form class="form-horizontal" role="form" method="post" target="_self" id="listForm" name="listForm" action="PostEdit.do">
        <input type="hidden" name="schoolRoomID" id="schoolRoomID" value="$!{schoolRoom.ID}"/>
        <div class="input-group">
            <span class="input-group-addon">教室名称：</span>
            <input type="text" class="form-control" name="name" id="name" value="$!{schoolRoom.Name}">
        </div>
        <div class="input-group">
            <span class="input-group-addon">所属校区：</span>
            <select class="form-control" name="campusID" id="campusID">
            #foreach($item in ${campusList})
            <option value="$!{item.ID}" #if(${item.ID} == ${schoolRoom.CampusID}) selected #end>$!{item.Name}</option>
            #end
            </select>
            <span class="input-group-btn">
                <button class="btn btn-success" name="btnEdit" id="btnEdit" type="button" value="修改教室" onclick="PostEdit();">修改教室</button>
            </span>
        </div>
    </form>
</div>