#capturefor(pageTitle)小班信息管理#end

#capturefor(includeCode)
<script type="text/javascript">
    function PostDelete(photoGraphID) {
        var info = {};
        info["photoGraphID"] = photoGraphID;

        jQuery.post("PostDelete.do", info, function (result) {
            alert(result.message);
            location.reload();
        }, "json");
    }
</script>
#end

<ol class="breadcrumb">
    <li class="active">图片管理</li>
</ol>

<div class="left-container">
    <p class="text-right"><a class="btn btn-success" href="Create.do?pageIndex=$!{params.PageIndex}">发布图片</a></p>

    <table class="table table-striped">
        <tr class="active">
            <th>编 号</th>
            <th>所属分类</th>
            <th>标 题</th>
            <th>排 序</th>
            <th>日 期</th>
            <th>操作</th>
        </tr>

        #foreach($item in ${photoGraphList})
        <tr>
            <td>$!{item.ID}</td>
            <td>$!{FormatHelper.CatalogName($!{item.CatalogID})}</td>
            <td>$!{item.Subject}</td>
            <td>$!{item.SortNum}</td>
            <td>$!{item.RecordDate.ToString("yyyy-MM-dd")}</td>
            <td><a href="Edit.do?photoGraphID=$!{item.ID}&pageIndex=$!{params.PageIndex}">修改</a> | <a href="#" onclick="PostDelete($!{item.ID});">删除</a></td>
        </tr>
        #end
          
    </table>
    <ul class="pagination">$!{ltlShowPager}</ul>
</div>
