#capturefor(pageTitle)济南市雨露培训学校信息化服务平台#end

#capturefor(includeCode)
<link href="/resources/web/css/jnyulu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/jscripts/holder.min.js"></script>
<style type="text/css">
    h4.title {
        border-left: 3px solid #232324;
        border-bottom: 1px solid #4cff00;
        padding: 8px;
        padding-left:46px;
        background-position: 8px center;
    }

    .well-lg {
        text-indent: 2em;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) inset;
        padding: 5px;
        border: 0;
        background: #fff;
        font-size: 15px;
        line-height: 28px;
    }

    .list-unstyled li {
        padding:5px;
    }
</style>
#end

#parse("shared/head.vm")

<div class="container" data-spy="scroll"  data-target=".right-nav">
    <div class="row">
        <div class="col-md-9 left-context">
            <div class="page-header">
                <h3 class="text-center">济南市雨露培训学校介绍</h3>
            </div>
            <h4 id="1"></h4>
            <div class="well well-lg">
                <p>
                    济南市雨露培训学校是经济南市教育局正式批准成立的一所专家引领、教学环境优越、教学设施先进、教育科研领先、教师队伍优秀、教学特色鲜明、教学成果突出的"以学生为中心" 的研究型、服务型的学校。办学许可证号为：3701037005116。学校提供从小学三、四年级一直到高三的学习方法指导教育、创造性潜能教育和活力小组化教育等培训。其中，创造性潜能教育培训、活力小组化教育培训、单科强化小班培训、实验探究培训、推荐生冲刺培训和高校自主招生培训是雨露的特色课程。
                </p>
                <p>
                    学校共有7个校区，总计约7000余平米。每间教室均配有空调、投影仪、实物展台、电脑等现代化教学设备，并在杆石桥校区建立了 "数字化信息系统探究实验室"、"数学探究实验室"和"化学、生物及生命科学、地理、科学微电影综合探究实验室"，小学潜能教育还从国外引进体现国际教育新理念的有助于学生愉快、趣味、直观、形象、游戏、竞赛形式学习的学具。学校致力营造浓厚的人文、艺术、科学氛围的学习环境，设置了阅览区和图片展示区。学校为了提升智能化服务水平，近期又利用全新技术，推出雨露微课堂，针对雨露教学中部分重点、难点、疑点问题的解决，以微课的形式让雨露学生免费在线学习。另外，利用互联网及先进的多媒体互动设备，建立了反馈评价系统，更及时的为学生和家长进行反馈和服务。
                </p>
                <p>
                    雨露学校坚持以素质教育为主线，以课堂教学改革为中心，优化教学过程，一是重视既备课又备人，在备课活动中以学生发展为本，以开发潜能为本；二是在教育资源的建设上，以国家基础教育阶段课程标准的高要求为目标，坚持横向整合，纵向衔接，努力保证源于教材高于教材的课程资源的建设丰富而高质。努力保持"课时适当；过程高效；基础和发展相结合；教学和实践相统一；过程和结果相并重"的课程建设原则；三是重视研究教学方式，形成雨露的"探究、思考、发现、质疑、讨论、反思、总结、创造"的十六字灵活而高效的教学法；四是发展创新丰富的培训形式，根据项目和学生需求的不同采纳大班、强化小班、活力小组等不同的辅导方式；五是重视教学活动中对学生的评价，围绕课程的重点内容及培训目标，每次课都进行形成性测试，期末还要进行终结性测试，并自觉运用尊重、信任、肯定、赞许、鼓励等手段，对学生进行发展性评价和评奖，促使雨露的学生稳步、高效、愉快更加自信的发展，并在中考、高考、推荐生和自主招生考试以及奥赛中取得优异的成绩，使雨露成为一所享有较高社会声誉、适应素质教育需要的创新型人才成长摇篮。
                </p>
            </div>
            <h4 id="2" class="title">雨露学校近两年取得的部分成绩</h4>
            <div class="well well-lg">
                <h5><strong>★重点中学选拔考试成绩：</strong></h5>
                <p>
                    2013年济南市中考推荐生考试，在雨露参加培训的学生有93人被正式录取，其中省实验中学录取了27人（全市共录取48人，占56.3%），外语学校录取了39人（全市共录取60人，占65%）。
                </p>
                <p>
                    2013年曾在雨露参加培训的谷君行、李雪琦同学通过严格遴选，被新加坡德明政府中学录取，鹿一璞、于天宇被日本海星中学录取，取得了公派留学资格。
                </p>
                <p>
                    2014年济南市中考推荐生考试，有103人被正式录取，其中省实验中学录取了42人（全市共录取51人，雨露占82.4%），外语学校32人（全市共录取60人，雨露占53.3%）。
                </p>
                <p>
                    2014年天津南开中学（面向全国招生的重点中学）选拔考试，曾在雨露参加培训的21名学生被天津南开中学录取, 2014年在山东共录取了36人，而这36人中曾在济南市雨露培训学校参加培训的就有21人，这在历史上是录取最多的一年。
                </p>
                <h5><strong>★初中学业水平考试（中考）：</strong></h5>
                <p>
                    2013年济南市初中学业水平考试，曾在雨露参加培训的学生至少有28人成绩在550分以上（济南市区58人），至少有118人成绩在545分以上（济南市区204人），至少有248人成绩在540分以上（济南市区474人），至少有446人成绩在山东省实验中学统招线535分以上（济南市区916人）……
                </p>
                <p>
                    2014年济南市初中学业水平考试，有两名学生取得了加分575分和裸分553分的高分,另据不完全统计，在济南市6万多名考生中，雨露至少有4人成绩在560分以上（济南市共5人），至少有12人成绩在550分以上（济南市共20人），至少有85人成绩在540分以上（济南市共168人），至少有392人成绩在530分以上（济南市共879人），至少有710人成绩在523分（省实验中学统招线）以上……
                </p>
                <h5><strong>★全国高中学科竞赛及进入国家冬令营成绩</strong></h5>
                <p>
                   2013年秋季，曾在雨露参加培训的学生共有88人次获全国高中数学、物理、化学竞赛全国奖；张子蒙同学进入国家高中数学竞赛冬令营。
                </p>
                <p>
                    2013年，在第26届全国化学奥林匹克竞赛决赛中，曾在雨露参加培训的郑天泽和范如本两位同学在理论考试和实验操作中双双荣获全国一等奖（金牌），成绩分列全省第一、第二名。同时，郑天泽同学现场签约清华大学，范如本同学收到了北京大学的预录通知书。
                </p>
                <p>
                    2014年秋季，曾在雨露参加培训的学生共有110人次获全国高中数学、物理、化学、生物竞赛全国奖，黄子瑜同学进入国家高中数学竞赛冬令营。
                </p>
                <p>
                    注：全国高中竞赛所有获奖学生可以不同程度的享受到清华、北大等全国重点大学自主招生考试的推荐资格（2014年竞赛保送取消后，获得进入国家冬令营资格的学生仍保留高校招生保送资格）。
                </p>
            </div>
            <h4 id="3" class="title">雨露潜能教育的培养资源</h4>
            <div class="well well-lg">
                以国家基础教育阶段课程标准的高要求为目标，坚持横向整合，纵向衔接，努力保证源于教材高于教材的课程资源的建设丰富而高质。努力保持"课时适当；过程高效；基础和发展相结合；教学和实践相统一；过程和结果相并重"的课程建设原则。<br />
                一是关注不同学段课程标准规定的教材体系和内容的纵向衔接，相互贯通相承，相互补充支撑和循序渐进；<br />
                二是关注将优化学生思维方式的有关资源，这包括涉及到竞赛大纲或高年级的拓展加深的相关内容，根据学生的接受程度科学合理地融入，贯穿始终；<br />
                三是站在"学会学习"的高度，以学习方法为中心，把学习方法指导，良好思维习惯的养成以及心智思维，励志教育，培养的相关资源，及时横向整合，贯穿始终；<br />
                四是关注搭建实践平台，和积极提供熏陶、体验、动手操作、合作探究创造机会，建设数学、物理、化学、生物及生命科学、地理科学、科学微电影等多种科目的数字化信息系统综合实践探究实验室，从国外引进了先进的学具和互动式电子白板，以及组织必要的参观学习和社会调查等实践活动，根据学生的志趣，需要适时融入，贯穿始终；<br />
                五是关注指导老师善于机智的捕捉与充分利用课堂上生成的师生之间、生生之间的动态资源，以充分调动学生学习的积极性，贯穿始终；<br />
                六是关注为学生及时录制和播放体现课堂教学中重难点、热点、疑点的"微课堂"再生资源，给学生创造再学习、反思分享和提升的机会，贯穿始终。<br />
                总之，丰富的、持续的优质资源的建设与供给形成雨露潜能教育的课程体系："必修课+选修课+微课+实验探究活动课+社会调查学习实践活动"，促使雨露的学生稳步、高效、愉快、更加自信的发展！
            </div>
            <h4 id="4" class="title">雨露小学三年级——高中三年级潜能教育课程安排</h4>
            <div class="well well-lg">
                雨露学校作为一个专业的负责任的培训机构，一直精心致力探究推动及发展适合拔尖创新优秀人才的潜能教育，针对中小学各学段、各年级开设了系列的创造性学习潜能开发班，为资质潜能相对优秀的小学三年级至高中三年级学有余力的学生，提供适合其成长发展需求的适切的教育，在培养目标、培养对象、培养方式、培养资源及内容等方面进行了富有开拓意义的探索。在培养资源方面，以国家基础教育阶段课程标准的高要求为目标，坚持横向整合，纵向衔接，努力保证源于教材高于教材的课程资源的建设丰富而高质。努力保持"课时适当；过程高效；基础和发展相结合；教学和实践相统一；过程和结果相并重"的课程建设原则，根据不同阶段、不同年级、不同层次学生的需要有计划系统的开设了数学、物理、化学、语文、英语、面试、数理化地生科学微电影的实验探究及心智思维等课程，努力创造机会让学生适当的经历实验探究过程，感受科研精神，获得科研熏陶，激励学生学习的兴趣和积极性，优化学生的思维方式，培养学生运用学科知识方法分析问题解决问题的学习能力，发展学生高层次的思考、解疑、应用、实验能力及继续学习的能力，提高学科机制和竞争力，提高创造力，同时也帮助学生参加小升初、重点学校选拔考试、中考或中考推荐生考试、高考或自主招生考试及参加必要的竞赛和青少年科技活动取得理想成绩。下面是雨露小学三年级至高中三年级潜能教育的课程安排：
                <table class="table table-striped table-bordered">
                    <tr>
                        <th rowspan="3">学<br />
                            段</th>
                        <th rowspan="3">年<br />
                            级</th>
                        <th colspan="4">开设科目</th>
                    </tr>
                    <tr>
                        <th colspan="2">春季、秋季</th>
                        <th colspan="2">暑假、寒假</th>
                    </tr>
                    <tr>
                        <td>必学</td>
                        <td>选学</td>
                        <td>必学</td>
                        <td>选学</td>
                    </tr>
                    <tr>
                        <th rowspan="4">小<br />
                            学<br />
                            阶<br />
                            段</th>
                        <th>三年级</th>
                        <td>数学思维活动课、快乐语文（阅读写作）</td>
                        <td>快乐英语</td>
                        <td>数学思维活动课、快乐语文（阅读写作）</td>
                        <td>快乐英语</td>
                    </tr>
                    <tr>
                        <th>四年级</th>
                        <td>数学思维活动课、快乐语文（阅读写作）</td>
                        <td>快乐英语</td>
                        <td>数学思维活动课、快乐语文（阅读写作）</td>
                        <td>快乐英语</td>
                    </tr>
                    <tr>
                        <th>五年级</th>
                        <td>数学、语文、英语潜能</td>
                        <td>&nbsp;</td>
                        <td>数学、语文、英语潜能</td>
                        <td>科学微电影</td>
                    </tr>
                    <tr>
                        <th>六年级</th>
                        <td>数学、语文、英语潜能</td>
                        <td>&nbsp;</td>
                        <td>数学、语文、英语潜能</td>
                        <td>科学微电影</td>
                    </tr>
                    <tr>
                        <th rowspan="3">初<br />
                            中<br />
                            阶<br />
                            段</th>
                        <th>初一</th>
                        <td>数学潜能(分竞赛和优才生两层次)</td>
                        <td>语文（阅读写作）数、英提高班、单科强化、活力小组</td>
                        <td>数学潜能(寒假)</td>
                        <td>衔接班、单科强化、活力小组、数学、地生实验（寒假）、心智思维、科学微电影</td>
                    </tr>
                    <tr>
                        <th>初二</th>
                        <td>数学潜能(分竞赛和优才生两层次)</td>
                        <td>语文（阅读写作）数、英、物提高班、单科强化、活力小组</td>
                        <td>&nbsp;</td>
                        <td>衔接班、单科强化、活力小组、数学实验、物理实验、生物实验、地理实验、心智思维、科学微电影</td>
                    </tr>
                    <tr>
                        <th>初三</th>
                        <td>数学潜能(分竞赛和优才生两层次)</td>
                        <td>语文（阅读写作）数、英、物、化提高班、冲刺班、单科强化、活力小组、推荐生考前辅导</td>
                        <td>数学、理化潜能(寒假) (分竞赛和优才生两层次)考前辅导</td>
                        <td>衔接班、单科强化、活力小组、数学实验、物理实验、化学实验、心智思维、科学微电影</td>
                    </tr>
                    <tr>
                        <th rowspan="3">高<br />
                            中<br />
                            阶<br />
                            段</th>
                        <th>高一</th>
                        <td>数学、物理潜能(分竞赛和自主招生两层次)</td>
                        <td>语、数、英、物、化提高班、单科强化、活力小组</td>
                        <td>数学、物理潜能(寒假分竞赛和自主招生两层次，暑假不分)</td>
                        <td>衔接班、单科强化、活力小组</td>
                    </tr>
                    <tr>
                        <th>高二</th>
                        <td>数学、物理潜能(分竞赛和自主招生两层次)</td>
                        <td>语、数、英、物、化、生提高班、单科强化</td>
                        <td>数学、物理潜能(分竞赛和自主招生两层次)</td>
                        <td>衔接班、单科强化</td>
                    </tr>
                    <tr>
                        <th>高三</th>
                        <td>数、物等自主招生考试培训</td>
                        <td>语、数、英、物、化、生复习班、冲刺班、单科强化、五一生物串讲</td>
                        <td>数、物、面试等自主招生考试培训</td>
                        <td>复习班、单科强化</td>
                    </tr>
                </table>
                <p>
                    注：初中潜能班从初一下学期开始，分竞赛层次和优才生层次进行教学，内容都是源于教材高于教材，但优才生层次的难度介于中考难题和奥赛基础题之间；<br />
                    高一、高二潜能班都分奥赛层次和自主招生层次进行教学，自主招生层次难度介于高考难题和奥赛一试题之间。
                </p>
            </div>
            <h4 id="5" class="title">雨露潜能教育的培养及评价方式</h4>
            <div class="well well-lg">根据学生不同学段，所开设项目内容的不同，灵活运用大班、小班、小组不同的学习形式，以理科思维训练为主设计系统的课程,同时重视引导学生以兴趣为导向，建立了数学、物理、化学、地理、生物和科学微电影等实验室，尽可能为学生创造真实的实验探究情境和自主实践体验的机会，供学生选择；重视学生学习过程的评价，围绕课程的重点内容及培训目标系统的命制好每节课的形成性评价测试题，（我们称成就测试），在评价中尤其关注学生理科思维方式的优化，学习机智和学习力及创造力的提升，把经老师批阅后的成就测试试卷及时扫描反馈给学生及家长进行分析反思，并利用及时录制的微课堂进行疑难解惑。每期培训，都会给学生建立有关出勤、成绩、试卷、课堂表现的电子档案，供家长随时查看，了解学生的学习情况。每学期末培训结束前，将组织数学、物理的终结性评价测试，主要考察学生的先天素质、学业水平的提升情况、思维品质和思维能力的发展情况，并评出一等奖、二等奖，同时对学生在初高中竞赛、初中推荐生、高考自主招生、中高考取得的优异成绩，我们及时做喜报进行表扬，鼓励学生积极学习。 对学生选择的各种实验探究课中自己的作品及心得体会，我们通过组织丰富的展示、竞赛、雨露内刊登载、拍摄微电影等有关宣传活动对学生进行表扬鼓励。</div>
            <h4 id="6" class="title">联系方式</h4>
            <div class="well well-lg">
                雨露统一服务电话：4000-909-908<br />
                杆 石 桥：三箭银苑B 座2层；电话：88320330、86390828、15318846000<br />
                民生大街5号齐鲁证券一楼(三箭银苑正门对面)；电话：88320336、86390298<br />
                解 放 路：解放路21号3楼(荣军医院东邻)；电话：83199065、15098931065<br />
                阳光舜城：阳光舜城商业街中五区6号楼E08号；电话：82983882<br />
                阳光 100：建设路三箭如意苑17号楼一层（邻近阳光100）；电话：82561968<br />
                洪 家 楼：花园路90-4号四层（洪楼广场对面偏东）； 电话：88700865、18354166593<br />
                文化东路：文化东路29号三箭吉祥苑门口；电话：67874196、15725419867
            </div>
        </div>
        <div class="col-md-3 right-nav">
            <dl>
                <dt><span class="glyphicon glyphicon-th-large"></span> 菜单导航</dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><a href="#1">学校介绍</a></li>
                        <li><a href="#2">学员成绩</a></li>
                        <li><a href="#3">培养资源</a></li>
                        <li><a href="#4">课程安排</a></li>
                        <li><a href="#5">培养及评价方式</a></li>
                        <li><a href="#6">联系方式</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>
#parse("shared/footer.vm")
