#capturefor(pageTitle)济南市雨露培训学校信息化服务平台#end

#capturefor(includeCode)


<link href="/resources/css/formValidator.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/resources/jscripts/formValidator.js"></script>
<script type="text/javascript" src="/resources/jscripts/formValidatorRegex.js"></script>

<script type="text/javascript">
var key = [];
  
$().ready(function(){

  jQuery.formValidator.initConfig({onError:function(msg){alert(msg)}});
  key = ["userName","subject","issue"];

  $("#userName").formValidator({onshow:"请输入学员编号,学员编号不能为空",onfocus:"请输入正确的学员编号,2-28个字符组成",oncorrect:"该学员编号可以使用"}).InputValidator({min:2,max:28,onerror:"你输入的学员编号长度错误,限制2-28个字符"}).RegexValidator({regexp:"notempty",datatype:"enum",onerror:"学员编号不能为空"});
  $("#subject").formValidator({onshow:"请输入标题,标题不能为空",onfocus:"请输入正确的标题,2-28个字符组成",oncorrect:"该标题可以使用"}).InputValidator({min:2,max:28,onerror:"你输入的标题长度错误,限制2-28个字符"}).RegexValidator({regexp:"notempty",datatype:"enum",onerror:"标题不能为空"});
  
  $("#issue").formValidator({empty:true,onshow:"请输入你的留言内容",onfocus:"内容至少要输入5个汉字或10个字符",oncorrect:"恭喜你,你输对了"}).InputValidator({min:10,onerror:"你输入的内容长度不正确,请确认"});
});
  
function PostCreateMessage(){
  if(jQuery.formValidator.PageIsValid('1')){
    $("#btnCreateMessage").attr("disabled","disabled").val("处理中,请稍候...");
    var info = {};
    jQuery.each(key,function(k,v){
      info[v]=$("#" + v).val();
    });

    jQuery.post("PostCreateMessage.do",info,function(r){
      alert(r.message);
      $("#btnCreateMessage").removeAttr("disabled").val("我要留言");
      if(r.code > 0){
        location.replace("Message.do");
      }
    },"json");
  }
}
</script>
#end

#parse("shared/head.vm")

<div class="main">
    <div class="con">
        <h2>请您留言</h2>
          <form method="post" target="_self" id="MessageForm" name="MessageForm" action="PostCreateMessage.do">
            <table class="list2" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>您的姓名：</td>
                <td><input name="userName" id="userName" type="text" /></td>
                <td><span id="userNameTip"></span></td>
              </tr>
              <tr>
                <td>留言标题：</td>
                <td><input style="width:400px;" name="subject" id="subject" type="text" /></td>
                <td><span id="subjectTip"></span></td>
              </tr>
              <tr>
                <td>留言内容：</td>
                <td><textarea style="width:400px; height:120px;" name="issue" id="issue" cols="" rows=""></textarea></td>
                <td><span id="issueTip"></span></td>
              </tr>
              <tr>
                <td></td>
                <td><input name="btnCreateMessage" id="btnCreateMessage" type="button" value="我要留言" onclick="PostCreateMessage();" />　<input name="" type="reset" value="重填" /></td>
                <td></td>
              </tr>
            </table>
          </form>  
    </div>
</div>

#parse("shared/footer.vm")