<?xml version="1.0" encoding="utf-8"?>
<!-- =====================================================
    作    者 : bingofree
    创建时间 : 2009-10-26 23:34:22
    修 改 者 : 
    修改时间 : 
    描    述 : 设置Maps
  ===================================================== -->
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers embedded="JNyuluSoft.Persistence.Impl.providers.config, JNyuluSoft.Persistence" />

  <sqlMaps>
    <!-- Grade:Grade -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Grade.xml,JNyuluSoft.Persistence"/>

    <!-- Campus:Campus -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Campus.xml,JNyuluSoft.Persistence"/>

    <!-- Registration:Registration -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Registration.xml,JNyuluSoft.Persistence"/>

    <!-- Course:Course -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Course.xml,JNyuluSoft.Persistence"/>

    <!-- Curriculum:Curriculum -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Curriculum.xml,JNyuluSoft.Persistence"/>

    <!-- CurriculumDetail:CurriculumDetail -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.CurriculumDetail.xml,JNyuluSoft.Persistence"/>

    <!-- CurriculumDPeriod:CurriculumDPeriod -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.CurriculumDPeriod.xml,JNyuluSoft.Persistence"/>

    <!-- DelayReport:DelayReport -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.DelayReport.xml,JNyuluSoft.Persistence"/>

    <!-- Employee:Employee -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Employee.xml,JNyuluSoft.Persistence"/>

    <!-- WeekPeriod:WeekPeriod -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.WeekPeriod.xml,JNyuluSoft.Persistence"/>

    <!-- ReportCard:ReportCard -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.ReportCard.xml,JNyuluSoft.Persistence"/>

    <!-- LearingGroup:LearingGroup -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.LearingGroup.xml,JNyuluSoft.Persistence"/>

    <!-- SchoolRoom:SchoolRoom -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.SchoolRoom.xml,JNyuluSoft.Persistence"/>

    <!-- SchoolTerm:SchoolTerm -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.SchoolTerm.xml,JNyuluSoft.Persistence"/>

    <!-- Assessment:Assessment -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Assessment.xml,JNyuluSoft.Persistence"/>

    <!-- Catalog:Catalog -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Catalog.xml,JNyuluSoft.Persistence"/>

    <!-- Article:Article -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Article.xml,JNyuluSoft.Persistence"/>

    <!-- Message:Message -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.Message.xml,JNyuluSoft.Persistence"/>

    <!-- Bulletinboard:Bulletinboard -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.BulletinBoard.xml,JNyuluSoft.Persistence"/>

    <!-- LectureSheet:LectureSheet -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.LectureSheet.xml,JNyuluSoft.Persistence"/>

    <!-- PhotoGraph:PhotoGraph -->
    <sqlMap embedded="JNyuluSoft.Persistence.Impl.Maps.PhotoGraph.xml,JNyuluSoft.Persistence"/>

  </sqlMaps>
</sqlMapConfig>
