<div class="nav-footer">
    <div class="logo"></div>
    <div class="address">
        雨露学校总部：杆石桥三箭银苑A座2405室；电话：88320330、88320336、88320338、15318846000
        <br />
        杆 石 桥 校 区：三箭银苑B座2楼；电话：88320330、88320336、88320338、15318846000
        <br />
        解 放 路 校 区：解放路21号3楼(荣军医院东邻)；电话：83199065、15098931065
        <br />
        阳光舜城校区：阳光舜城商业街中区6号楼E08号；电话：82983882
        <br />
        阳 光100校区：建设路三箭如意苑17号楼一层（邻近阳光100）；电话：82561968
        <br />
        洪 家 楼 校 区：花园路90-4号四层（洪楼广场对面偏东）； 电话：88700865、18354166593
        <br />
        文化东路校区：文化东路29号三箭吉祥苑门口；电话：67874196、15725419867
        <br />
        翡 翠 郡 校 区：无影山中路41号（省交通医院西邻，银座购物广场二楼）；电话：85931138、15550073966
    </div>
</div>
<div class="copyright"><a target="_blank" href="http://www.miibeian.gov.cn/" style="color:#fff;">鲁ICP备14035443号-1</a> | Copyright © 2014 Inc. 保留所有权利。</div>
