#capturefor(pageTitle)校区管理#end

#capturefor(includeCode)
<script type="text/javascript">
    function PostCreate() {
        $("#btnCreate").attr("disabled", "disabled").val("处理中,请稍候...");

        var key = ["name"];
        var info = {};
        jQuery.each(key, function (k, v) {
            info[v] = $("#" + v).val();
        });

        jQuery.post("PostCreate.do", info, function (r) {
            alert(r.message + r.code);
            $("#btnCreate").removeAttr("disabled").val("新增校区");
            if (r.code > 0) {
                location.reload();
            }
        }, "json");
    }

    function PostDelete(campusID) {
        var info = {};
        info["campusID"] = campusID;

        jQuery.post("PostDelete.do", info, function (r) {
            alert(r.message);
            if (r.code > 0) {
                location.reload();
            }
        }, "json");
    }
</script>
#end

<ol class="breadcrumb">
    <li class="active">校区管理</li>
</ol>

<div class="left-container">
    <form class="form-inline" role="form" method="post" target="_self" id="listForm" name="listForm" action="PostCreate.do">
        <div class="input-group">
            <span class="input-group-addon">校区名称：</span>
            <input type="text" class="form-control" name="name" id="name">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" name="btnCreate" id="btnCreate" onclick="PostCreate();">新增校区</button>
            </span>
        </div>
    </form>
    <hr class="help-block" />
    <table class="table table-striped">
        <tr class="active">
            <th>校区</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>

        #foreach($item in ${campusList})
        <tr>
            <td>$!{item.Name}</td>
            <td>$!{item.RecordDate.ToString("yyyy-MM-dd hh:mm:ss")}</td>
            <td><a href="Edit.do?campusID=$!{item.ID}">修改</a> | <a class="h" href="#" onclick="PostDelete($!{item.ID});">删除</a></td>
        </tr>
        #end
  
    </table>
</div>


