#capturefor(pageTitle)网站信息发布#end

#capturefor(includeCode)

<script type="text/javascript">
    function PostDelete(articleID, catalogID) {
        var info = {};
        info["articleID"] = articleID;

        jQuery.post("PostDelete.do", info, function (result) {
            alert(result.message);
            location.reload();
        }, "json");
    }
</script>
#end

<ol class="breadcrumb">
    <li class="active">网站资讯</li>
</ol>

<div class="col-container">
    <ul class="nav nav-tabs" role="tablist">
        #foreach($item in ${catalogList})
        <li role="presentation" #if(${item.ID} == ${params.CatalogID}) class="active" #end><a href="List.do?catalogID=$!{item.ID}">$!{item.Name}</a></li>
        #end
        <li role="presentation" class="pull-right"><a href="Create.do?pageIndex=$!{params.PageIndex}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-pencil"></span>添加资询</a></li>
    </ul>

    <table class="table table-striped">
        <tr class="active">
            <th>标题</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>

        #foreach($item in ${articleList})
          <tr>
              <td><a href="/Web/Article.do?articleID=$!{item.ID}" target="_blank">$!{item.Subject}</a></td>
              <td>$!{item.RecordDate.ToString("yyyy-MM-dd hh:mm:ss")}</td>
              <td><a href="Edit.do?articleID=$!{item.ID}&catalogID=$!{item.CatalogID}&pageIndex=$!{params.PageIndex}">修改</a> | <a href="#" onclick="PostDelete($!{item.ID},$!{item.CatalogID});">删除</a></td>
          </tr>
        #end
          
    </table>
    <ul class="pagination">
        $!{ltlShowPager}
    </ul>
</div>
