<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <!--
        <facility id="transaction"
            type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />
    <facility id="logging" configfile="log4net.config" loggingapi="log4net"
      type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" />
      -->
    <facility id="rails.facility"
        type="Castle.MonoRail.WindsorExtension.RailsFacility, Castle.MonoRail.WindsorExtension" />
  </facilities>
</configuration>
