<?xml version="1.0" encoding="utf-8"?>
      <!-- =====================================================
    作    者 : bingofree
    创建时间 : 2009-10-26 23:34:22
    修 改 者 : 
    修改时间 : 
    描    述 : IbatisNet接口映射
      ===================================================== -->

<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers embedded="JNyuluSoft.Persistence.Impl.providers.config, JNyuluSoft.Persistence" />

  <context id="SqlMapDao" default="true">

    <!-- ==== SqlServer : SqlServerClient configuration ========= -->
    <database>
      <provider name="sqlServer1.1" />
      <dataSource name="SqlServer" connectionString="Data Source=127.0.0.1;Initial Catalog=JNyulu_db;User Id=sa;Password=enky@$^*18;connection lifetime=0; min pool size=0; max pool size=100;Connect Timeout=18000;"/>
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config"/>
    </daoSessionHandler>

    <daoFactory>
      <dao interface="JNyuluSoft.Persistence.ICampusDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.CampusSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IRegistrationDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.RegistrationSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ICourseDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.CourseSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ICurriculumDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.CurriculumSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ICurriculumDetailDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.CurriculumDetailSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ICurriculumDPeriodDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.CurriculumDPeriodSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IDelayReportDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.DelayReportSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IEmployeeDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.EmployeeSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IWeekPeriodDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.WeekPeriodSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IReportCardDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.ReportCardSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ILearingGroupDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.LearingGroupSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ISchoolMasterDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.SchoolMasterSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ISchoolRoomDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.SchoolRoomSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ISchoolTermDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.SchoolTermSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IAssessmentDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.AssessmentSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.ICatalogDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.CatalogSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IArticleDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.ArticleSqlMapDao, JNyuluSoft.Persistence" />
      <dao interface="JNyuluSoft.Persistence.IRegistrationDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.RegistrationSqlMapDao, JNyuluSoft.Persistence" />

      <dao interface="JNyuluSoft.Persistence.IVideoDao, JNyuluSoft.Persistence"
          implementation="JNyuluSoft.Persistence.Impl.VideoSqlMapDao, JNyuluSoft.Persistence" />
    </daoFactory>

  </context>

</daoConfig>
